# Data
pandas
numpy
scikit-learn

# NLP
nltk
spacy
regex

# Hugging Face
datasets
transformers
sentence-transformers

# Vector DB
chromadb

# Visualization
matplotlib
seaborn
plotly

# Dashboard
streamlit
streamlit_autorefresh
jupyter

# Notebooks
ipykernel

# Database
psycopg2-binary
sqlalchemy

# Orchestration
apache-airflow
asyncpg>=0.29
psycopg2-binary>=2.9



# Utils
tqdm
python-dotenv
requests
nlpaug

faker
